/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.nvmrc export-ignore
/.prettierignore export-ignore
/.prettierrc export-ignore
/build.mjs export-ignore
/CODE_OF_CONDUCT export-ignore
/eslint.config.mjs export-ignore
/Makefile export-ignore
/package.json export-ignore
/pnpm-lock.yaml export-ignore
/pnpm-workspace.yaml export-ignore
/Resources/Private/Editor export-ignore
/tsconfig.json export-ignore
/types.d.ts export-ignore
