@property --transform { syntax: "*"; inherits: false;}
@property --gridTemplateRows { syntax: "*"; inherits: false;}
@property --opacity { syntax: "*"; inherits: false;}
@property --transition { syntax: "*"; inherits: false;}
:root, .xjw6uzm{--x1c3vevv:ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;--xjxt26j:var(--fontSize-Base);}
:root, .xgam8ww{--x7vo5z5:var(--colors-PrimaryBlue);--x1aascqg:var(--colors-PrimaryBlueHover);--xl01mrn:var(--colors-ContrastNeutral);--xglmuu3:var(--colors-ContrastDark);--x16yzmso:var(--colors-Warn);--x1wku9dc:var(--colors-Error);}
:root, .x1hp8r3u{--xqjd8st:calc(var(--spacing-Full) + var(--spacing-Half));--x1axxo16:var(--spacing-Full);--x4cynje:var(--spacing-Half);--xaw33gd:var(--spacing-Quarter);--xz3og9i:2px;--x1rc1f68:var(--spacing-GoldenUnit);--xszphoi:90px;--x1ii3mfi:50px;}
:root, .xz7lwoy{--xxclye:var(--transition-Fast);--x5pxsl7:var(--transition-Default);--x1ft9akc:var(--transition-Slow);--x1pn7w24:cubic-bezier(0.4, 0, 0.2, 1);}
.x11g6tue:not(#\#){background:none}
.x1icb363:not(#\#){background:var(--x1wku9dc)}
.x1wty727:not(#\#){border:0}
.xuqevfp:not(#\#){border:1px solid var(--xglmuu3)}
.x1gs6z28:not(#\#){border:none}
.x1717udv:not(#\#){padding:0}
.x1ed9ji8:not(#\#){padding:var(--x4cynje) var(--x1axxo16)}
.x1qqeytn:not(#\#){padding:var(--xaw33gd) var(--x1axxo16)}
.x2u8bby:not(#\#):not(#\#){border-radius:0}
.x1lgor9j:not(#\#):not(#\#){border-radius:var(--xz3og9i)}
.x98rzlu:not(#\#):not(#\#){flex:1}
.xxhr3t:not(#\#):not(#\#){gap:0}
.x195vfkc:not(#\#):not(#\#){gap:2px}
.x1w092t7:not(#\#):not(#\#){gap:var(--x1axxo16)}
.xszbmum:not(#\#):not(#\#){gap:var(--x4cynje)}
.x1tcf77z:not(#\#):not(#\#){margin-block:calc(var(--xaw33gd) * -1)}
.xlutiju:not(#\#):not(#\#){margin-inline:-16px}
.xznpkf2:not(#\#):not(#\#){margin-inline:calc(var(--x1axxo16) * -1)}
.xb3r6kr:not(#\#):not(#\#){overflow:hidden}
.x1hr3lfm:not(#\#):not(#\#){padding-inline:16px}
.xx4g621:not(#\#):not(#\#){padding-inline:var(--x4cynje)}
.xi29sqt:not(#\#):not(#\#){transition:transform var(--x5pxsl7) var(--x1pn7w24)}
.x10nilei:not(#\#):not(#\#){transition:var(--transition)}
.x1pha0wt:not(#\#):not(#\#):not(#\#){align-items:baseline}
.x6s0dn4:not(#\#):not(#\#):not(#\#){align-items:center}
.x1toukv6:not(#\#):not(#\#):not(#\#){background-color:var(--x7vo5z5)}
.xdamm5q:not(#\#):not(#\#):not(#\#){background-color:var(--xl01mrn)}
.x1eyyrmo:not(#\#):not(#\#):not(#\#){background-image:url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="400" height="400" fill-opacity=".25"><rect x="200" width="200" height="200" /><rect y="200" width="200" height="200" /></svg>')}
.x1ht9rhz:not(#\#):not(#\#):not(#\#){background-size:16px 16px}
.xeb8n4k:not(#\#):not(#\#):not(#\#){box-shadow:0 0 0 2px var(--x16yzmso)}
.xg8qyho:not(#\#):not(#\#):not(#\#){box-shadow:0 0 0 2px var(--x7vo5z5)}
.x1awj2ng:not(#\#):not(#\#):not(#\#){color:white}
.x1h6gzvc:not(#\#):not(#\#):not(#\#){cursor:not-allowed}
.x1ypdohk:not(#\#):not(#\#):not(#\#){cursor:pointer}
.x1lliihq:not(#\#):not(#\#):not(#\#){display:block}
.x78zum5:not(#\#):not(#\#):not(#\#){display:flex}
.xrvj5dj:not(#\#):not(#\#):not(#\#){display:grid}
.xdt5ytf:not(#\#):not(#\#):not(#\#){flex-direction:column}
.x142tcus:not(#\#):not(#\#):not(#\#){font-family:var(--x1c3vevv)}
.x1h7f6lh:not(#\#):not(#\#):not(#\#){font-size:var(--xjxt26j)}
.x1lq8ota:not(#\#):not(#\#):not(#\#){grid-template-rows:var(--gridTemplateRows)}
.x1nhvcw1:not(#\#):not(#\#):not(#\#){justify-content:flex-start}
.x1szn6h9:not(#\#):not(#\#):not(#\#){justify-content:stretch}
.x6hgvqe:not(#\#):not(#\#):not(#\#){line-height:calc(var(--x1rc1f68) - 10px)}
.x18creaq:not(#\#):not(#\#):not(#\#){line-height:calc(var(--x1rc1f68) - 2px)}
.x190dgpg:not(#\#):not(#\#):not(#\#){opacity:.65}
.xa0d40w:not(#\#):not(#\#):not(#\#){opacity:var(--opacity)}
.x47corl:not(#\#):not(#\#):not(#\#){pointer-events:none}
.x1n2onr6:not(#\#):not(#\#):not(#\#){position:relative}
.xdpxx8g:not(#\#):not(#\#):not(#\#){text-align:left}
.xlyipyv:not(#\#):not(#\#):not(#\#){text-overflow:ellipsis}
.x1uosm7l:not(#\#):not(#\#):not(#\#){transform:var(--transform)}
.xuxw1ft:not(#\#):not(#\#):not(#\#){white-space:nowrap}
.x1vjfegm:not(#\#):not(#\#):not(#\#){z-index:1}
.x1g8rrie:where(*) *:not(#\#):not(#\#):not(#\#){pointer-events:none}
.xz41qmn:hover:not(#\#):not(#\#):not(#\#){box-shadow:0 0 0 2px var(--x7vo5z5)}
.x1h71102:hover:not(#\#):not(#\#):not(#\#){z-index:2}
.x1sqxhlf:focus:not(#\#):not(#\#):not(#\#){box-shadow:0 0 0 2px var(--x7vo5z5)}
.x11hdtt0:focus:not(#\#):not(#\#):not(#\#){z-index:2}
.xjppbhk:not(#\#):not(#\#):not(#\#):not(#\#){border-bottom-right-radius:0}
.x1a2w583:not(#\#):not(#\#):not(#\#):not(#\#){border-top-right-radius:0}
.x9phk0k:not(#\#):not(#\#):not(#\#):not(#\#){height:var(--x1ii3mfi)}
.xw1fdlx:not(#\#):not(#\#):not(#\#):not(#\#){height:var(--x1rc1f68)}
.x12n1rgu:not(#\#):not(#\#):not(#\#):not(#\#){height:var(--xqjd8st)}
.x15uye3n:not(#\#):not(#\#):not(#\#):not(#\#){margin-left:calc(var(--x1axxo16) * -1)}
.x1b9faq3:not(#\#):not(#\#):not(#\#):not(#\#){margin-top:var(--x4cynje)}
.x19nn32:not(#\#):not(#\#):not(#\#):not(#\#){max-height:var(--x1rc1f68)}
.xj906fh:not(#\#):not(#\#):not(#\#):not(#\#){min-height:var(--x1rc1f68)}
.xdihgpz:not(#\#):not(#\#):not(#\#):not(#\#){min-width:var(--x1rc1f68)}
.xtv3ziy:not(#\#):not(#\#):not(#\#):not(#\#){min-width:var(--xszphoi)}
.x121nruf:not(#\#):not(#\#):not(#\#):not(#\#){padding-bottom:var(--xaw33gd)}
.xh8yej3:not(#\#):not(#\#):not(#\#):not(#\#){width:100%}
.x1w5x4su:first-child:not(#\#):not(#\#):not(#\#):not(#\#){border-bottom-left-radius:var(--xz3og9i)}
.x1vwrrnx:first-child:not(#\#):not(#\#):not(#\#):not(#\#){border-top-left-radius:var(--xz3og9i)}
.x4o3edk:last-child:not(#\#):not(#\#):not(#\#):not(#\#){border-bottom-right-radius:var(--xz3og9i)}
.xt5sk6c:last-child:not(#\#):not(#\#):not(#\#):not(#\#){border-top-right-radius:var(--xz3og9i)}