.wrapper {
  display: flex;
}

.feedback {
  flex: 1;
  height: 40px;
  border: 1px solid #3f3f3f;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.error {
  background-color: #ff460d;
  color: #fff;
  margin-left: -16px;
  margin-right: -16px;
  padding: 10px 16px;
}

.checkboard {
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="400" height="400" fill-opacity=".25"><rect x="200" width="200" height="200" /><rect y="200" width="200" height="200" /></svg>');
  background-size: 16px 16px;
}

.group {
  margin-top: 15px;
  margin-bottom: 5px;
}

.list {
  flex: 1;
  position: relative;
  display: flex;
  gap: 2px;
  margin-bottom: 15px;
}

.item {
  height: 24px;
  cursor: pointer;
  border: 0;
  padding: 0;
  flex: 1;
}

.itemActive,
.itemDefault:hover,
.itemDefault:focus {
  box-shadow: 0 0 0 2px var(--colors-PrimaryBlue);
  z-index: 2;
}

.itemHighlight {
  box-shadow: 0 0 0 2px var(--colors-Warn);
  z-index: 1;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

.disabled > * {
  pointer-events: none;
}

.reset {
  margin-left: 10px;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}
